body {
	margin: 0;
	overflow: hidden;
	font-family: Arial;
	font-size: 18px;
}

.header,
.landing {
	display: flex;
	background-color: #1F2937;
	color: #F9FAF8;
	justify-content: space-between;
	align-items: center;
	padding: 64px 64px;
}

.header {
	height: 72px;
	padding: 0px 64px;
}

.logo {
	font-size: 24px;
	font-weight: 800;
}

.header ul {
	display: flex;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 16px;
}

.landing {
	display: flex;
	color: #E5E7EB;
	justify-content: space-evenly;
}

.landing .left {
	flex: 1;
}

.landing .right {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.landing .title {
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
}

.landing button {
	background-color:#3882F6;
}

.placeholder {
	height: 240px;
	flex: 1;
	background-color: #F9FAF8;
	opacity: 0.3;
	color: white;
	align-items: center;
}
